
body {
	font-family: "Computer Modern", sans-serif;
}

main {
	display: flex;
}

.column {
	width: 50%;
	padding: 0px 10px;
	border-radius: 10px;
}

.box {
	margin: 15px 0;
	border: 2px solid black;
	border-radius: 10px;
}

.box-header {
	border-bottom: 1px solid black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 35px;
}

.box-body {
	min-height: 50px;
	max-height: 200px;
	overflow: scroll;
}

.box-label {
	font-size: 10pt;
	margin: 5px 10px;
}

.line {
	display: flex;
	align-items: center;
	margin: 5px;
	padding: 5px;
	border-radius: 10px;
}

.move {
	border: 2px solid blue;
	background-color: lightcyan;
}

.move:hover {
	background-color: lightblue;
	cursor: pointer;
}

.move-name {
	font-weight: bold;
	padding: 5px;
	width: 150px;
}

.entry {
	border: 2px solid green;
	background-color: aquamarine;
}

.entry:hover {
	background-color: lightseagreen;
	cursor: pointer;
}

.quant {
	border: 2px solid red;
	background-color: lightpink;
}

.zone-line-name {
	width: 40px;
}

.quant:hover {
	background-color: lightcoral;
	cursor: pointer;
}

.hyp {
	border: 2px solid purple;
	background-color: plum;
}

.hyp:hover {
	background-color: orchid;
	cursor: pointer;
}

.target {
	border: 2px solid darkgoldenrod;
	background-color: khaki;
}

.target:hover {
	background-color: darkkhaki;
	cursor: pointer;
}

input[type="text"] {
	width: 50%;
	margin: 5px;
	padding: 5px;
	border: 1px solid lightgray;
	outline: none;
	border-radius: 10px;
}

input[type="text"]:focus {
	background-color: lightgray;
}

header {
	padding: 10px;
}


button {
	background: lightgray;
	border: 2px solid black;
	border-radius: 10px;
	padding: 5px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	margin: 0px 10px;
}

button:hover {
	background: lightblue;
}

